.head_icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    height: 100%;
}

.head_icons {
    margin: 0;
    padding: 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.head_icons .social-icon_head, .social-icon_head {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #2a2515;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.head_icons .social-icon_head:active,
.head_icons .social-icon_head:focus,
.head_icons .social-icon_head:hover {
    background-color: #d5c323
}

.social-icon_head .social-icon_head:active,
.social-icon_head .social-icon_head:focus,
.social-icon_head .social-icon_head:hover {
    background-color: #d5c323
}

i.social {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px
}

a {
    text-decoration: none;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #3a2e26;
    padding-top: 20px;
    padding-bottom: 68px;
}

.footer__wrapper-inner {
    position: relative;
}

.footer_top-arrow {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30%;
    left: 3%;
    text-align: center;
    z-index: 100;
}

.footer_top-arrow .footer_arrow {
    cursor: pointer;
    color: #c4c0bd;
    font-size: 80px;
    width: 100%;
    height: 100%;
}

.footer-text-color {
    font-size: 15px;
    font-family: Acrom;
    color: #fff;
    font-variant: small-caps
}

.caption-footer-colon {
    font-size: 18px;
    font-weight: 400;
    font-family: Acrom
}

.caption-footer-colon {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 27px
}










.footer__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: Acrom, Helvetica, sans-serif;
    color: rgba(255, 255, 255, .5);
    transition: color 0.1s ease-in;
}

.footer__link:hover {
    color: #cfc23a;
    text-decoration: none;
}










.footer__logo-text {
    display: block;
    font-size: 12.54px;
    color: #fff;
}

.footer .head_icons {
    margin-top: 40px;
    margin-left: 30px;
}

.footer .head_icons .social-icon_head {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.footer i.social {
    color: #3a2e26;
    transition: color .3s;
}

.footer .head_icons .social-icon_head:active,
.footer .head_icons .social-icon_head:focus,
.footer .head_icons .social-icon_head:hover {
    border-color: #d5c323;
}

.footer .head_icons .social-icon_head:hover i.social {
    color: #d5c323;
}


@media only screen and (min-width:576px) {






    .footer {
        padding-top: 40px;
        padding-bottom: 28px;
    }
}

@media only screen and (max-width:768px) {
    .footer__text {
        margin: 0;
    }

    .caption-footer-colon {
        margin-bottom: 5px;
    }
}

@media only screen and (min-width:768px) {


    .logo_container {
        margin: 0;
        padding: 18px 0 0;
        display: block;
        max-width: 100%;
        background-color: #f0efef;
        overflow: hidden;
    }


    .head_icons {
        padding-top: 0;
    }



    .facebook_head {
        margin-right: 14px
    }



    .head_icons .social-icon_head {
        margin-right: 12px;
    }
}

@media only screen and (min-width:992px) {

    .head_icons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }



    .head_icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding-top: 0;
    }

    .head_icons .social-icon_head {
        display: block;
        width: 48px;
        height: 48px;
        background-color: #2a2515;
        border-radius: 50px;
    }



    .facebook_head {
        margin-right: 14px;
    }
}

@media only screen and (min-width:1140px) {

    .footer_top-arrow {
        top: 32%;
        left: -11%;
    }
}

@media only screen and (max-width:1024px) {


    .footer_top-arrow {
        top: 8%;
        left: initial;
        right: -3%;
    }
}



@media only screen and (max-width:992px) {
    .footer-xs-margin {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:576px) {




    .head_icons {
        padding: 0;
        justify-content: center;
    }

    .footer .head_icons {
        margin: 10px 0 0 0;
    }

    .head_icons .social-icon_head {
        width: 42px;
        height: 42px;
    }

    .head_icons-wrap {
        margin-top: 10px;
    }

    .footer_top-arrow {
        top: 53%;
        left: 79%;
    }

    .caption-footer-colon {
        margin: 0 0 15px 0;
    }

    .footer_block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .footer-xs-margin {
        margin-bottom: 10px;
    }

    .footer__text {
        margin: 0;
    }
}