.card_btn {
    background-color: transparent
}

.card_btn {
    color: #2a2515;
    border-width: 1px;
    border-color: #2a2515;
    border-style: solid;
    border-radius: 15px
}

.card_btn:active,
.card_btn:focus,
.card_btn:hover {
    background-color: transparent;
    color: #cfc23a;
    border-color: #cfc23a
}

.about__form {
    padding: 35px 0 35px 20px;
}

.labelText {
    font-size: 18px;
    margin: 0 0 0 20px;
}

.userInput {
    padding: 10px 0 10px 30px;
    height: auto;
    width: 250px;
}

.userInput:focus {
    box-shadow: 0 0 3.5px 0.5px rgba(207, 194, 58, 0.29);
}

.about__input {
    display: inline-flex;
    flex-direction: column;
}

.about__input:nth-child(2) {
    margin-left: 40px;
}

.about_event-btn:active,
.about_event-btn:focus,
.about_event-btn:hover {
    background-color: #e1d448;
}

.about_event-btn {
    margin-top: 35px;
    border-radius: 8px;
}

.about__image {
    display: block;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header__b {
    background-color: #2a1e15;
    padding-bottom: 65px;
}

.header__b-title {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1.5px;
}

.carousel {
    position: relative;
}

.carousel-inner {
    padding: 0;
}

.carousel__desc {
    position: absolute;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-52%, 30%);
    color: #fff;
    padding: 18px 35px;
    text-align: center;
}

.carousel-indicators {
    position: absolute;
    display: block;
    top: 47%;
    left: 75%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.event {
    margin-bottom: 55px;
}

.event:last-child {
    margin-bottom: 0;
}

.events__nearest {
    padding-top: 130px;
    padding-bottom: 100px;
}

.event__desc {
    font-family: Acrom, Helvetica, sans-serif;
    position: relative;
}

.event__img {
    width: 100%;
}

.event__img {
    max-width: 100%;
}

.event__image {
    display: block;
    width: 100%;
    height: auto;
}

.event__share {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 2px solid #acaaaa;
    border-bottom: 2px solid #acaaaa;
    padding: 7px 0;
}

.event .head_icons {
    margin-left: 30px;
}

.event .head_icons .social-icon_head {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #acaaaa;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.event i.social {
    color: #acaaaa;
    transition: color .3s;
}

i.social {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px;
}

.event .head_icons .social-icon_head {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #acaaaa;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.head_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-top: 0;
    margin-left: 30px;
}

.event .head_icons .social-icon_head:active,
.event .head_icons .social-icon_head:focus,
.event .head_icons .social-icon_head:hover {
    border-color: #d5c323;
}

.event .head_icons .social-icon_head:hover i.social {
    color: #d5c323;
}

.event__share-text {
    text-transform: uppercase;
    color: #acaaaa;
    font-family: Acrom, Helvetica, sans-serif;
    font-weight: 200;
}

.event__title {
    color: #2a2515;
    font-size: 25px;
    text-transform: uppercase;
}

.events__finished .event-head_text {
    margin-top: 60px;
}

.event__text {
    text-indent: 8px;
    font-size: 18px;
}

.event .card_btn {
    padding-left: 60px;
    padding-right: 60px;
    position: absolute;
    right: 0;
    top: 102%;
}

.footer__logo-text {
    display: block;
    font-size: 12.54px;
    color: #fff;
}

.footer .head_icons {
    margin-top: 40px;
    margin-left: 30px;
}

.footer .head_icons .social-icon_head {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.footer i.social {
    color: #3a2e26;
    transition: color .3s;
}

.footer .head_icons .social-icon_head:active,
.footer .head_icons .social-icon_head:focus,
.footer .head_icons .social-icon_head:hover {
    border-color: #d5c323;
}

.footer .head_icons .social-icon_head:hover i.social {
    color: #d5c323;
}

.menu-link-position {
    position: fixed;
}

.event__info-separator:after {
    content: '|';
}

.event__date {
    padding: 3px 0;
    border-top: 2px solid #acaaaa;
    border-bottom: 2px solid #acaaaa;
    font-size: 20px;
    margin: 15px 0;
}

@media only screen and (min-width:576px) {
    .carousel-indicators {
        width: 40px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        height: 100%;
        margin: 0;
        top: -17%;
        left: 88%;
        z-index: 1;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 28px;
    }

}

@media only screen and (max-width:768px) {
    .footer__text {
        margin: 0;
    }

    .caption-footer-colon {
        margin-bottom: 5px;
    }

    .event__title {
        margin-top: 10px;
    }

    .events__nearest {
        padding-top: 70px;
    }

    .carousel-indicators {
        left: 92%;
    }

    .event_block {
        display: block;
    }

    .event_block:after {
        display: none;
    }

}

@media only screen and (min-width:768px) {
    .mobile_nav {
        display: none;
    }

}

@media only screen and (max-width:1024px) {
    .event {
        margin-bottom: 70px;
    }

    .carousel__desc {
        transform: translate(-54%, -10%);
    }

}

@media only screen and (min-width:1200px) {
    .carousel-indicators li {
        width: 25px;
        height: 25px;
    }

    .carousel__desc {
        transform: translate(-52%, 80%);
    }

}

@media only screen and (max-width:1200px) {
    .event__margin-auto {
        margin: 0 auto;
    }

}

@media only screen and (max-width:576px) {
    .logotype {
        margin: 0 auto;
    }

    .desc-logo {
        width: 190px;
    }

    .head_icons {
        padding: 0;
        justify-content: center;
    }

    .footer .head_icons {
        margin: 10px 0 0 0;
    }

    .head_icons .social-icon_head {
        width: 42px;
        height: 42px;
    }

    .head_icons-wrap {
        margin-top: 10px;
    }

    .desc-logo {
        margin: 0 auto;
    }

    .event__share {
        margin-top: 20px;
    }

    .event-border {
        margin: 20px auto 35px;
    }

    .event-head_text {
        margin-top: 10px;
    }

    .carousel__desc {
        transform: translate(-50%, -47%);
        width: 92%;
        font-size: 11px;
        padding: 8px 0px 8px 0px;
    }

    .carousel-indicators {
        top: 23%;
        left: 75%;
        z-index: 1;
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
    }

    .caption-footer-colon {
        margin: 0 0 15px 0;
    }

    .events__nearest {
        padding-top: 40px;
    }

    .carousel__desc {
        transform: translate(-54%, -42%);
        width: 86%;
        padding: 5px;
    }

}
